<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/index}">

<div layout:fragment="content">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2" th:text="#{product}">header</h1>
  </div>
  <div class="container">

    <div class="py-5 text-center">
      <h2 th:text="#{product.add}">등록</h2>
    </div>

    <form action="detail.html" th:action th:object="${product}" method="post">
      <div>
        <label for="name">이름</label>
        <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">
      </div>
      <div>
        <label for="barcode">바코드</label>
        <input type="text" id="barcode" th:field="*{barcode}" class="form-control" placeholder="바코드를 입력하세요">
      </div>
      <div>
        <label for="photoUrl">이미지</label>
        <input type="file" accept="image/*" id="photoUrl" th:field="*{photoUrl}" class="form-control" placeholder="이미지를 입력하세요" alt="">
      </div>
      <div>
        <label for="cost">구매가</label>
        <input type="number" id="cost" th:field="*{cost}" class="form-control" placeholder="구매가를 입력하세요">
      </div>
      <div>
        <label for="price">판매가</label>
        <input type="number" id="price" th:field="*{price}" class="form-control" placeholder="판매가를 입력하세요">
      </div>

      <hr class="my-4">

      <div>
        <label for="locationId">초기 위치 ID</label>
        <input type="number" id="locationId" th:field="*{locationId}" class="form-control" placeholder="구매가를 입력하세요">
      </div>
      <div>
        <label for="initialQuantity">초기 수량</label>
        <input type="number" id="initialQuantity" th:field="*{initialQuantity}" class="form-control" placeholder="판매가를 입력하세요">
      </div>

      <hr class="my-4">

      <div class="row">
        <div class="col">
          <button class="w-100 btn btn-dark btn-lg" type="submit" th:text="#{product.add}">등록</button>
        </div>
        <div class="col">
          <button class="w-100 btn btn-secondary btn-lg"
                  onclick="location.href='list.html'"
                  th:onclick="|location.href='@{/products}'|"
                  type="button">취소
          </button>
        </div>
      </div>
    </form>

  </div> <!-- /container -->
</div>
</html>
