<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/index}">

<div layout:fragment="content">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2" th:text="#{location}">header</h1>
  </div>
  <div class="container">
    <div class="py-5 text-center">
      <h2 th:text="#{location}">위치</h2>
    </div>

    <div class="row">
      <div class="col">
        <button class="btn btn-dark float-end"
                onclick="location.href='addForm.html'"
                th:onclick="|location.href='@{/locations/add}'|"
                type="button">위치 등록
        </button>
      </div>
    </div>

    <hr class="my-4">
    <div>
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>위치</th>
          <th>메모</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="location : ${locations}">
          <td><a href="detail.html" th:href="@{/locations/{locationId}(locationId=${location.id})}" th:text="${location.id}">위치id</a></td>
          <td><a href="detail.html" th:href="@{|/locations/${location.id}|}" th:text="${location.name}">위치명</a></td>
          <td th:text="${location.memo}">10000</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='../index.html'"
                th:onclick="|location.href='@{/}'|"
                type="button">홈으로</button>
      </div>
    </div>
  </div> <!-- /container -->
</div>
</html>
